@{
    ViewData["Title"] = $"Order Type ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    bool canCreate = ViewBag.IsCreate ?? false;
    bool canEdit = ViewBag.IsEdit ?? false;
    bool canDelete = ViewBag.IsDelete ?? false;
    bool canRead = ViewBag.IsRead ?? false;
    int companyId = ViewBag.CompanyId;
}

<!-- Nav Pills -->
<ul class="nav nav-pills mb-3" id="CurrencyTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="Currency-tab" data-bs-toggle="pill"
                data-bs-target="#Currency" type="button" role="tab" aria-controls="Currency" aria-selected="true">
            <i class="mdi mdi-view-list me-1"></i> Currency
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="CurrencyDt-tab" data-bs-toggle="pill"
                data-bs-target="#CurrencyDt" type="button" role="tab" aria-controls="CurrencyDt" aria-selected="false">
            <i class="mdi mdi-shape-outline me-1"></i> Currency Details
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="CurrencyLocalDt-tab" data-bs-toggle="pill"
                data-bs-target="#CurrencyLocalDt" type="button" role="tab" aria-controls="CurrencyLocalDt" aria-selected="false">
            <i class="mdi mdi-shape-outline me-1"></i> Currency Local Details
        </button>
    </li>
</ul>

<!-- Tab Content -->
<div class="tab-content" id="CurrencyTabsContent">
    <div class="tab-pane fade show active" id="Currency" role="tabpanel" aria-labelledby="Currency-tab">
        @await Html.PartialAsync("_Currency")
    </div>
    <div class="tab-pane fade" id="CurrencyDt" role="tabpanel" aria-labelledby="CurrencyDt-tab">
        @await Html.PartialAsync("_CurrencyDt")
    </div>
    <div class="tab-pane fade" id="CurrencyLocalDt" role="tabpanel" aria-labelledby="CurrencyLocalDt-tab">
        @await Html.PartialAsync("_CurrencyLocalDt")
    </div>
</div>

@section Scripts {
    <script>
        let companyId = 0;
        let permissions = {};;
        $(document).ready(function () {
            companyId = getUrlParameter('companyId') || 0;

            permissions = {
                canCreate: @Json.Serialize(canCreate),
                canEdit: @Json.Serialize(canEdit),
                canDelete: @Json.Serialize(canDelete),
                canRead: @Json.Serialize(canRead),
            };

            $("#currencyDtValidFrom").kendoDatePicker({
                format: "dd/MM/yyyy",
                parseFormats: ["yyyy-MM-dd", "dd/MM/yyyy", "MM/dd/yyyy"],
                value: new Date(), // Default to today
                popup: {
                    appendTo: $("#addCurrencyDtModal")
                }
            });

            $("#currencyLocalDtValidFrom").kendoDatePicker({
                format: "dd/MM/yyyy",
                parseFormats: ["yyyy-MM-dd", "dd/MM/yyyy", "MM/dd/yyyy"],
                value: new Date(), // Default to today
                popup: {
                    appendTo: $("#addCurrencyLocalDtModal")
                }
            });

            Refresh();

            loadCurrencyGrid();
            initializeCurrencyForm();
            clearCurrencyForm();
            $('#btnCurrencyEdit').on('click', function () { setCurrencyMode("edit"); });
            $('#btnCurrencyClose').on('click', function () { $('#addCurrencyModal').modal('hide'); });
            $('#addCurrencyrecord').on('click', function () {
                initializeCurrencyForm();
                $('#addCurrencyModal').modal('show');
            });

            loadCurrencyDtGrid();
            initializeCurrencyDtForm();
            clearCurrencyDtForm();
            $('#btnCurrencyDtEdit').on('click', function () { setCurrencyDtMode("edit"); });
            $('#btnCurrencyDtClose').on('click', function () { $('#addCurrencyDtModal').modal('hide'); });
            $('#addCurrencyDtrecord').on('click', function () {
                initializeCurrencyDtForm();
                $('#addCurrencyDtModal').modal('show');
            });

            loadCurrencyLocalDtGrid();
            initializecurrencyLocalDtForm();
            clearcurrencyLocalDtForm();
            $('#btnCurrencyLocalDtEdit').on('click', function () { setCurrencyLocalDtMode("edit"); });
            $('#btnCurrencyLocalDtClose').on('click', function () { $('#addCurrencyLocalDtModal').modal('hide'); });
            $('#addCurrencyLocalDtrecord').on('click', function () {
                initializecurrencyLocalDtForm();
                $('#addCurrencyLocalDtModal').modal('show');
            });

            $('#CurrencyCode, #CurrencyName').on('input', checkCurrencyMandatoryFields);
        });

        function Refresh() {
            const CurrencyDtUrl = '@Url.Action("GetCurrencyLookup", "Lookup", new { area = "" })?companyId=' + companyId;
            BindComboBox(CurrencyDtUrl, "cmd_currencyDt", "currencyName", "currencyId");

            const CurrencyLocalUrl = '@Url.Action("GetCurrencyLookup", "Lookup", new { area = "" })?companyId=' + companyId;
            BindComboBox(CurrencyLocalUrl, "cmd_currencyLocalDt", "currencyName", "currencyId");
        }

        function SelectedDropdown(DrpdwnName) { }

        function OnSelectDropdown(dataItem, DrpdwnName) { }
    </script>
}